body {
    width: 95%;
    margin:0;

    background-image: url(bk2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;


    color:darkgrey;

}

